@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap');
html {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-primary-rgb: 13,110,253;
    --bs-secondary-rgb: 108,117,125;
    --bs-success-rgb: 25,135,84;
    --bs-info-rgb: 13,202,240;
    --bs-warning-rgb: 255,193,7;
    --bs-danger-rgb: 220,53,69;
    --bs-light-rgb: 248,249,250;
    --bs-dark-rgb: 33,37,41;
    --bs-white-rgb: 255,255,255;
    --bs-black-rgb: 0,0,0;
    --bs-body-color-rgb: 33,37,41;
    --bs-body-bg-rgb: 255,255,255;
    --bs-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #212529;

}
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    background-color: var(--bs-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}
div{
    display: block;
}
header, nav, section, article, aside, footer, hgroup {
    display: block;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, div pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, figure, header, nav, section, article, aside, footer, figcaption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

#nav-checkbox, .nav-toggle{
 display: none;
}

.hero{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 165px;
}
#bg-video {
    min-width: 100%;
    min-height: 100vh;
    max-width: 100%;
    max-height: 100vh;
    object-fit: cover;
    z-index: -1;
}

.hero h1{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size:40px;
    text-transform: uppercase;
    font-weight: 900;
    color: #fff;
    letter-spacing: 1px;
}
.hero h1 em{
    font-style: normal;
    color: #f5a425;
    font-weight: 900;
}

.hero h3{
    margin-top: 0px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    letter-spacing: 1px;
}

.hero a {
    background: #670101;
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    border-radius:10px;
    line-height: 1.5;
    padding: 10px 25px;
}
.hero p{
    color: #fff;
  font-size: 20px;
  max-width: 570px;
}

.hero a:hover{
    background: #943737;
}
.content{
    width: 80%;
    margin: auto;
    padding: 50px 0;
}

.content p{
    line-height: 1.6;
    margin-bottom: 25px;
    text-decoration: none;
}
.main-button-red{
    margin-top: 30px; 
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px 0;
    transition: background-color 0.5s ease;
    background-color: rgba(112, 114, 115, 0.616);
}

.logo h2{
    color:#fff;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 250%;
}

.nav-menu li{
    display: inline-block;
}

.nav-menu li a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2rem;
    padding: 0 15px;
}

.nav-menu li a:hover{
    color: #a12c2f;
}

.active{
    background: #7b0101;
}
.active a:hover{
    color: #fff !important;
}

.section1 .item{
    background-image: url(../images/service-item-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 30px;
    text-align: center;
    color: #fff;
    padding: 40px;
    width: 440px;
    height: 300px;
    margin: 20px;
    cursor: pointer;
   
}

.section1 .item img {
    max-width: 60px;
    margin: 0 auto;
}
.row1{
    display: flex;
   justify-content: center;

}

/* upcoming meetings */
section.upcoming-meetings {
    background-image: url(/assests/images/meetings-page-bg.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 230px;
    padding-bottom: 110px;
}
.container{
    width: 75%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto;
}

::selection {
    background: #f5a425;
    color: #fff;
}
.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}

@media (min-width: 992px){
.col-lg-12 {
    flex: 0 0 auto;
    width: 100%;
}}
section.upcoming-meetings .section-heading {
    text-align: center;
}
.section-heading h2 {
    line-height: 40px;
    margin-top: 0px;
    margin-bottom: 50px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(250,250,250,0.15);
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}
.row>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
}

.col-lg-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
}
section.upcoming-meetings .categories {
    background-color: #fff;
    border-radius: 20px;
    padding: 40px;
    margin-right: 45px;
}
section.upcoming-meetings .categories h4 {
    font-size: 18px;
    font-weight: 600;
    color: #1f272b;
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 1.2;
}
h4 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
ul {
    margin-bottom: 0px;
}
ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
section.upcoming-meetings .categories ul li {
    display: inline-block;
    margin-bottom: 15px;
}
section.upcoming-meetings .categories .main-button-red {
    border-top: 1px solid #eee;
    padding-top: 30px;
    margin-top: 15px;
}
section.upcoming-meetings .categories .main-button-red a {
    width: 100%;
    text-align: center;
}
.main-button-red a {
    font-size: 13px;
    color: #fff;
    background-color: #a12c2f;
    padding: 12px 30px;
    display: inline-block;
    border-radius: 22px;
    font-weight: 500;
    text-transform: uppercase;
    transition: all .3s;
}
.main-button-red a:hover{
    background-color: #de7679;
}
a:-webkit-any-link {
    cursor: pointer;
    
}
*, ::after, ::before {
    box-sizing: border-box;
}
@media (min-width: 992px)
{
.col-lg-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
}}
@media (min-width: 992px){
.col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
}
}
.meeting-item {
    margin-bottom: 30px;
}
.meeting-item .thumb {
    position: relative;
}
.meeting-item .thumb .price {
    position: absolute;
    left: 20px;
    top: 20px;
}
.meeting-item .thumb .price span {
    font-size: 16px;
    color: #1f272b;
    font-weight: 600;
    background-color: rgba(250,250,250,0.9);
    padding: 7px 12px;
    border-radius: 10px;
}
.meeting-item .thumb img {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    
}
img {
    width: 100%;
    overflow: hidden;
    
}
img, svg {
    vertical-align: middle;
}
a:-webkit-any-link {
 
    cursor: pointer;
}
.meeting-item .down-content {
    background-color: #fff;
    padding: 30px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.meeting-item .down-content .date {
    float: left;
    text-align: center;
    margin-top: -25px;
    display: inline-block;
    margin-right: 20px;
}
.meeting-item .down-content .date h6 {
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
    color: #a12c2f;
}
h6 {
    display: block;
    font-size: 30px;
    margin-block-start: 2.33em;
    margin-block-end: 2.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.meeting-item .down-content .date span {
    display: block;
    color: #1f272b;
    font-size: 22px;
    margin-top: 7px;
}
a {
    text-decoration: none !important;
    color: #1f272b;

}
.meeting-item .down-content p {
    margin-left: 50px;
    color: #1f272b;
    font-size: 20px;
}
p {
    font-size: 14px;
    line-height: 25px;
    
}
/* Apply now section */
section.apply-now {
    background-image: url(../images/apply-bg.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 140px 0px;
}
.align-self-center {
    align-self: center!important;
}
@media (min-width: 992px){
.col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
}}
@media (min-width: 992px){
.col-lg-12 {
    flex: 0 0 auto;
    width: 100%;
}}
section.apply-now .item {
    background-color: rgba(250,250,250,0.15);
    padding: 40px;
    margin-bottom: 30px;
}
section.apply-now .item h3 {
    color: #fff;
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 20px;
}
section.apply-now .item p {
    color: #fff;
    margin-bottom: 20px;
    font-size: 18px;
}
.main-button-yellow a {
    font-size: 13px;
    color: #fff;
    background-color: #f5a425;
    padding: 12px 30px;
    display: inline-block;
    border-radius: 22px;
    font-weight: 500;
    text-transform: uppercase;
    transition: all .3s;
}
.main-button-yellow a:hover{
    background-color: #edcd98;
}
@media (min-width: 992px){
.col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
}
}
.accordions {
    border-radius: 20px;
    padding: 40px;
    background-color: #fff;
    margin-left: 45px;
}
.accordions .accordion {
    border-bottom: 1px solid #eee;
}
.accordion-head.is-open {
    color: #f5a425;
    border-bottom: none;
}
@media screen and (min-width: 768px){
.accordion-head {
    padding: 1rem;
    font-size: 1.2rem;
}}
.accordion-head {
    padding: 20px;
    font-size: 18px;
    font-weight: 700;
    color: #1f272b;
    cursor: pointer;
    transition: color 200ms ease-in-out;
    border-bottom: 1px solid #fff;
}
.accordion-head.is-open .icon {
    transform: rotate(45deg);
}
.accordion-head .icon {
    float: right;
    transition: transform 200ms ease-in-out;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}
.fa-chevron-right:before {
    content: "\f054";
}
*, ::after, ::before {
    box-sizing: border-box;
}
element.style {
    height: 120px;
}
.accordion-body {
    overflow: hidden;
    height: 0;
    transition: height 300ms ease-in-out;
    border-bottom: 1px solid #fff;
}
.accordion-body {
    padding: 1rem 1.25rem;
}
.accordion-body > .content {
    padding: 20px;
    padding-top: 0;
}







.footer {
    text-align: center;
    margin-top: 140px;
    border-top: 1px solid rgba(250,250,250,0.15);
    padding: 50px 0px;
  }
  .footer p {
    text-transform: uppercase;
    font-size: 14px;
    color: rgb(0, 0, 0);
  }
  
  .footer p a {
    color: #f5a425;
  }


@media only screen and (max-width: 600px){
    header{
        display: block;
    }
    .logo{
        margin-left: 15px;
    }

    .nav-toggle{
        display: block;
        position: absolute;
        cursor: pointer;
        margin: 0 1rem;
        top: 25px;
        right: 0;
    }

    .nav-toggle img{
        width: 25px;
    }

    .close, input[type='checkbox']{
         display: none;
        }

    #nav-checkbox:Checked ~ .nav-menu{
        background: #7d0404ca;
        margin-top: 10px;
        padding: 10px 0;
        border-top: 1px solid #fff;
    }
    
    .nav-menu li{
        display: none;
        margin: 10px 0;
    }
    #nav-checkbox:checked ~ ul.nav-menu li {
        display: block;
    }
    #nav-checkbox:checked ~ label.nav-toggle .open{
        display: none;
    }
    #nav-checkbox:checked ~ label.nav-toggle .close{
        display: block;
    }
    }
   
