

section.heading-page {
    background-image: url(../images/heading-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 230px;
    padding-bottom: 110px;
    text-align: center;
}
section.heading-page h6 {
    margin-top: 0px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    letter-spacing: 1px;
}
section.heading-page h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 800;
    color: #fff;
    letter-spacing: 1px;
}
section.meetings-page {
    background-image: url(../images/meetings-page-bg.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 140px;
    padding-bottom: 0px;
}
section.meetings-page .filters {
    text-align: center;
    margin-bottom: 60px;
}
section.meetings-page .filters ul li.active, section.meetings-page .filters ul li:hover {
    background-color: #a12c2f;
    color: #fff;
}
section.meetings-page .filters li {
    font-size: 13px;
    color: #a12c2f;
    background-color: #fff;
    padding: 11px 30px;
    display: inline-block;
    border-radius: 22px;
    font-weight: 600;
    text-transform: uppercase;
    transition: all .3s;
    cursor: pointer;
    margin: 0px 3px;
}
.templatemo-item-col {
    width: 31%;
}
.meeting-item {
    margin-bottom: 30px;
    width: 400px;
}
.row>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
}
.col-lg-4 templatemo-item-col all soon{
    position: absolute;
    left: 0%;
    top: 0px;
}